#TituloPrincipal{
    Color: blue;
    font-size: 30px;
    font-family: Comic Sans MS;
  
}

.parrafosEjemplo{
    color:green;
    font-weight: bold;
}

.parrafoSegundario{
    Color: blueviolet;
}

p{
    color: brown;
}

a{
    color:burlywood
}

a:hover{
    color:white;
    background-color: black;
    font-size: 25px;
    transition: 0.9s;
}

a:active{
    color:crimson;
    background-color: black;
}